.sidebar {
	min-height: 100vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #0c3b69;
	padding: 10px 30px;
   
}
.sidebar .top{
    margin-top: 15px;
}
.sidebar img {
	width: 20px;
}
.sidebar .menu {
	display: block;
	margin-left: 10px;
	cursor: pointer;
}
.sidebar .new-chat{
 margin-top: 50px;
 display: inline-flex;
 align-items: center;
 gap: 10px;
 padding: 10px 15px;
 background-color: #ffffff;
 border-radius: 15px;
 font-size: 14px;
 color: ffffff;
 cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 2.0s;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #e2e6eb;

}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 12px;
    color: #e2e6eb;
    cursor: pointer;

}
.sidebar .recent-entry:hover{
    background-color: #FFFFFF;
    color: #083A6B;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.sidebar .bottom-item{
    padding-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
  
  .switchDefaultColor .MuiSwitch-track {
    background-color: #cccccc; /* Change to your desired color */
  }
  
  .switchDefaultColor .MuiSwitch-thumb {
    color: #cccccc; /* Change to your desired color */
  }

  .switch {
    color: white;
    font-style: normal;
    font-family: "Mulish", sans-serif;
  }

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}